{% extends "base.html" %}

{% block content %}
    <table class="table">
        <thead>
            <th scope="col">MAC addr</th>
            <th scope="col">Hostname</th>
        </thead>
        <tbody>
          <meta charset="UTF-8">
          {% for row in rows %}
            <tr>
                <td>{{ row["mac"] }}</td>
                <td>{{ row["hostname"] }}</td>
                <td>
                    <form action="{{ url_for('keep_block') }}" method="POST">
                        <input id={{row["mac"]}} name={{row["mac"]}} type="hidden" value = {{row["hostname"]}}>
                        <button type="submit"> keep block </button>
                    </form>
                    <form action="{{ url_for('allow') }}" method="POST">
                        <input id={{row["mac"]}} name={{row["mac"]}} type="hidden" value = {{row["mac"]}}>
                        <button type="submit"> allow </button>
                    </form>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}